 <!--Test = {{route.test}}-->
<br>
<!--<table>
    <tr>
        <td width=250 ng-repeat="currentRoute in route.allRoutes">
    <span ng-click="route.clickRoute(currentRoute)">
         <a href="#/app/category"><img src="img/route/{{currentRoute.name}}.png" title={{translate.currentRoute.name}} alt="0" id="arrow1" class="arrow-krym"></a>
       <a href="#/app/category" {{currentRoute.name}}>
            {{translation[currentRoute.name]}}
        </a> 
        <br>
        <a href="#/app/category">
            <img ng-src="img/route/{{currentRoute.name}}.png"/>
            
        </a>
    </span>
        </td>
    </tr>
<table>-->
 
    
        <a href="#/app/category" ng-click="route.clickRouteId(2)"><img src="img/route/krym_kavkaz.png" alt={{translation.krym_kavkaz}} class="arrow-krym"></a>
    
<a href="#/app/category" ng-click="route.clickRouteId(1)"><img src="img/route/kavkaz_krym.png" alt={{translation.kavkaz_krym}} class="arrow-kavkaz"></a>



<div style="text-align: left;"><img
 style="width: 653px; height: 408px;" alt="map"
 src="img/route/map1.png">