<!--Order: {{order.allOrders}}-->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Номер брони</td>
            <td>Дата заказа</td>
            <td>{{translation.cost}}</td>
            <td>Контактное лицо</td>
            <td>E-mail</td>
            <td>Направление</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="curOrder in order.allOrders" ng-click="order.orderedTicket(curOrder)">
            <td>{{curOrder.confirmationNumber}}</td>
            <td>{{curOrder.dateCreated| date : 'medium'}}</td>
            <td>{{curOrder.amount}}</td>
            <td>{{curOrder.firstName}} {{curOrder.lastName}}</td>
            <td>{{curOrder.email}}</td>
            <td>{{translation[curOrder.route.name]}}</td>
        </tr>
    </tbody>
</table>

<!--<button ng-click="order.testRole()">test roles allowed</button>-->
<br>
<!--res = {{order.res}}-->
