<br>{{translation.HELLO}}
<!--<p>allRoutes:</p>-->
<!--<input type="text" ng-model="Cart.msg">-->
<ul ng-repeat="route in allRoutes">
    <li ng-click="clickRoute(route)">
        <a href="#/viewCategory">
            <img ng-src="img/route/{{route.name}}.png"/>
            {{translation[route.name]}}
        </a> 
    </li>
</ul>
<!--Chosen route: {{ Cart.routeText}}
<br>Cart msg: {{ Cart.msg}}
<br>TRANS: {{translation[Cart.routeText]}}
<br>{{Cart.routeText}}


<br>Текущая дата: <span>{{currentDate| date}}</span>
<br>Валюта: <span>{{ 100 | currency}}</span>-->



