{{checkout.Cart}}
<br>
OrderId = {{checkout.orderId}}
<div class="row-fluid">

    <div class="span7 offset1" ng-hide="checkout.orderId">
    <h1>Checkout</h1>
    {{ checkout.purchase}}
    <!--<div style="background-color: lightgray">-->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Subtotal</td>
                    <td>Delivery</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{checkout.subtotal}}</td>
                    <td>{{checkout.surcharge}}</td>
                    <td>{{checkout.total}}</td>
                </tr>
            </tbody>
        </table>
    <!--</div>-->

    Customer information:
    <br>
    <form name="checkoutForm" class="form-horizontal" novalidate>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:</label>
            <div class="controls">
                <input type="text" name="inputFirstName" placeholder="First name" ng-model="checkout.purchase.firstName" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSecondName">Second name:</label>
            <div class="controls">
                <input type="text" name="inputSecondName" placeholder="Second name" ng-model="checkout.purchase.lastName" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email:</label>
            <div class="controls">
                <input type="email" name="inputEmail" placeholder="Email" ng-model="checkout.purchase.email" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhone">Phone:</label>
            <div class="controls">
                <input type="text" name="inputPhone" placeholder="Phone" ng-model="checkout.purchase.phone" required>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-large btn-primary" type="button" ng-disabled="checkoutForm.$invalid" ng-click="checkout.submitPurchase()">Submit Purchase</button>
            <button class="btn btn-large" type="button" ng-click="checkout.cancelPurchase()">Cancel</button>            
        </div>
    </form>
    </div>

    <!-- order confirmation message: -->
    <div class="span7 offset1" ng-show="checkout.orderId">
        <h1>Your  order has been processed.</h1>
        <p>The order confirmation number is {{checkout.orderId}}</p>
        <button class="btn btn-large btn-primary" type="button" ng-click="checkout.startShoppingAgain()">Continue shopping</button>            
    </div>
</div>
