Cart: {{Cart}}

<!-- checkout button -->
<div class="row-fluid">
    <div class="span3 offset1">
        <a href="#/viewCheckout" class="btn btn-large btn-success">Proceed to Checkout</a>
    </div>
    <div class="span4">
        <p class="lead">Your subtotal is {{total| currency:translation.RUB}}</p>
    </div>
    <div class="span3">
        <button class="btn btn-large btn-danger" type="button" ng-click="removeAll()">Clear the Cart</button>    
    </div>
</div>

<!-- shopping cart content -->
<div class="row-fluid">
    <div class="span10 offset1">
        <h1>The content of your cart is:</h1>
        <form name="form" class="form-horizontal" novalidate>
            <table class="table table-striped">
                <tr ng-repeat="ticket in cartContent">
                    <td>
                        <img src="" ng-src="img/ticket/{{ticket.name}}.png"/>
                        <div class="control-group" ng-class="{error:(form.inputTicketData.$dirty || showError) && form.inputTicketData.$invalid}">

                            <label class="control-label" for="inputTicketData">Ticket data:</label>
                            <div class="controls">
                                <input type="text" id="inputTicketData" name="inputTicketData" placeholder="Ticket data" ng-model="ticket.ticketData" required>
                                <div ng-show="(form.inputTicketData.$dirty || showError) && form.inputTicketData.$invalid">
                                    <span class="help-inline">Ticket data is required</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ticket.name}}</td>
                    <td>{{ticket.price}}</td>
                    <td>{{ticket.xx}}</td>
                    <td><button class="btn btn-warning" ng-click="remove(ticket)">Remove</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>





