Cart: {{cart.Cart}}

<div class="row-fluid">
    <div class="span3 offset1">
        <a href="#/app/checkout" class="btn btn-large btn-success">Proceed to Checkout</a>
    </div>
    <div class="span4">
        <p class="lead">Your subtotal is {{cart.total| currency:translation.RUB}}</p>
    </div>
    <div class="span3">
        <button class="btn btn-large btn-danger" type="button" ng-click="cart.removeAll()">Clear the Cart</button>    
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset1">
        <h1>The content of your cart is:</h1>
        <form name="form" class="form-horizontal" novalidate>
            <table class="table table-striped">
                <tr ng-repeat="ticket in cart.content">
                    <td>
                        <img ng-src="img/ticket/{{ticket.name}}.png"/>
                        <br>
                        <label class="control-label" for="inputTicketData">Ticket data:</label>
                        <input type="text" name="inputTicketData" placeholder="Ticket data" ng-model="ticket.ticketData" ng-required>
                    </td>
                    <td>{{ticket.name}}</td>
                    <td>{{ticket.price}}</td>
                    <td><button class="btn btn-warning" ng-click="cart.remove(ticket)">Remove</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
