<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="aStore" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="aStore" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="aStore" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="aStore" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>aStore</title>
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="css/aStore.css"/>
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-controller="mainCtrl">
        <div id="header">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-inner">
                    <!--<div class="container">-->
                    <ul class="nav pull-left">
                        <li>
                            <a class="brand" href="#" >
                                <img src="img/logo_mini.png" alt=""/>
                                <span ng-bind="translation.anrusstrans"></span>
                            </a>
                        </li>
<!--                        <li class="active">
                            <a href="#">Buy</a></li>
                        <li><a href="#">About</a></li>-->
                        <li ng-controller="cartStatusCtrl">
                            <a href="#/app/cart"><img src="img/cart.gif"/>
                                <span ng-bind="translation[content]"></span><span ng-if="size > 0" ng-bind="size"></span> 
                                <!--<span ng-if="size > 0">{{size}}</span> {{translation[content]}}-->
                            </a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Hi, <span ng-bind="userInfo.firstName || 'anonymous'" ></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="!isAuthenticated">
                                    <a href="#/app/login" ng-click="savePath()">{{translation.login}}</a>
                                </li>
                                <li ng-if="!isAuthenticated">
                                    <a href="#/app/signup" ng-click="savePath()">{{translation.signup}}</a></li>
                                <li ng-if="isAuthenticated">
                                    <a href="#/app/order">{{translation.myOrder}}</a></li>
                                <li ng-if="isAuthenticated" class="divider"></li>
                                <li ng-if="isAuthenticated" >
                                    <a href="#" ng-click="logout()">{{translation.logout}}</a>
                                </li>
                            </ul>
                        </li>                        
                       <li class="lan"><span ng-bind="translation.lang"></span></li>
                        <li class="language"><span></span>
                        <!--<li class="language">{{translation.lang}}:-->
                            <select class="form-control" ng-change="translate()" ng-model="selectedLanguage">
                                <option value="en">English</option>
                                <option value="ru">Русский</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <!--</div>-->
            </div>
        </div>

        <!--{{ userInfo}}-->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-view></div>

<!--        <div>
            <hr>
            [ footer ]
            <br>
            <span>&copy;<a href="mailto:notreal@mail.ru">Notreal</a></span>
        </div>-->

        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>

        <script src="app/app.js"></script>
        <script src="common/constants.js" type="text/javascript"></script>
        <script src="common/directives.js" type="text/javascript"></script>

        <script src="app/route/routeCtrl.js"></script>
        <script src="app/route/routeService.js" type="text/javascript"></script>
        <script src="app/category/categoryCtrl.js" type="text/javascript"></script>
        <script src="app/category/categoryService.js" type="text/javascript"></script>
        <script src="app/ticket/ticketCtrl.js" type="text/javascript"></script>
        <script src="app/ticket/ticketService.js" type="text/javascript"></script>
        <script src="app/cart/cartCtrl.js" type="text/javascript"></script>
        <script src="app/cart/cartService.js" type="text/javascript"></script>
        <script src="app/checkout/checkoutCtrl.js" type="text/javascript"></script>
        <script src="app/checkout/checkoutService.js" type="text/javascript"></script>
        <script src="app/login/loginCtrl.js" type="text/javascript"></script>
        <script src="app/login/loginService.js" type="text/javascript"></script>
        <script src="app/signup/signupCtrl.js" type="text/javascript"></script>
        <script src="app/signup/signupService.js" type="text/javascript"></script>
        <script src="app/order/orderCtrl.js" type="text/javascript"></script>
        <script src="app/order/orderService.js" type="text/javascript"></script>
        <script src="app/orderedTicket/orderedTicketCtrl.js" type="text/javascript"></script>
        
        <script src="common/locationService.js" type="text/javascript"></script>
        <script src="common/userService.js" type="text/javascript"></script>
        <script src="common/translationService.js" type="text/javascript"></script>
        <script src="common/mainCtrl.js" type="text/javascript"></script>
        <script src="app/cart/cartStatusCtrl.js" type="text/javascript"></script>
        <script src="app/cart/supportingDocumentService.js" type="text/javascript"></script>
        
        <script src="common/authFactory.js" type="text/javascript"></script>
        <script src="common/authHttpRequestInterceptor.js" type="text/javascript"></script>

        <!--for tests only-->
        <script src="app/route/testService.js" type="text/javascript"></script>
        <!--for tests only-->

        <script src="components/tmhDynamicLocale.min.js" type="text/javascript"></script>
        <script src="bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="components/bootstrap.min.js" type="text/javascript"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
    </body>
</html>
