<!--order = {{orderedTicket.order}}-->
<br>
<button class="btn btn-large" ng-click="orderedTicket.gotoBack()">Back</button>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Дата заказа</td>
            <td>Cтоимость заказа</td>
            <td>Контактное лицо</td>
            <td>E-mail</td>
            <td>Направление</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{orderedTicket.order.dateCreated| date : 'medium'}}</td>
            <td>{{orderedTicket.order.amount}}</td>
            <td>{{orderedTicket.order.firstName}} {{orderedTicket.order.lastName}}</td>
            <td>{{orderedTicket.order.email}}</td>
            <td>{{translation[orderedTicket.order.route.name]}}</td>
        </tr>
        <tr>
            <td colspan="5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Категория</td>
                            <td>Тип</td>
                            <td>Данные</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ticket in orderedTicket.order.orderedTicketCollection">
                            <td>{{ticket.ticket.category.name}}</td>
                            <td>{{ticket.ticket.name}}</td>
                            <td>{{ticket.ticketData}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

