<!--order = {{orderedTicket.order}}
ticket = {{ticket.ticket}}-->
<br>
<button class="btn btn-large" ng-click="orderedTicket.gotoBack()">{{translation.back}}</button>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Номер брони</td>
            <td>Дата заказа</td>
            <td>{{translation.cost}}</td>
            <td>Контактное лицо</td>
            <td>E-mail</td>
            <td>Направление</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{orderedTicket.order.confirmationNumber}}</td>
            <td>{{orderedTicket.order.dateCreated| date : 'medium'}}</td>
            <td>{{orderedTicket.order.amount}}</td>
            <td>{{orderedTicket.order.firstName}} {{orderedTicket.order.lastName}}</td>
            <td>{{orderedTicket.order.email}}</td>
            <td>{{translation[orderedTicket.order.route.name]}}</td>
        </tr>
        <tr>
            <td colspan="5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Категория</td>
                            <td>Тип</td>
                            <!--<td>Данные</td>-->
                            <span ng-if="ticket.category.id===1">
                              <td>{{translation.firstName}}</td>
                              <td>{{translation.lastName}}</td>
                              <td>{{translation.middleName}}</td>
                            </span>
                            <td>{{translation.price}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ticket in orderedTicket.order.orderedTicketCollection">
                            <td>{{translation[ticket.ticket.category.name]}}</td>
                            <td>{{translation[ticket.ticket.name]}}</td>
                            <!--<td>{{ticket.ticketData}}</td>-->
                            <span ng-if="ticket.category.id===1">
                              <td>{{ticket.firstName}}</td>
                              <td>{{ticket.lastName}}</td>
                              <td>{{ticket.middleName}}</td>
                            </span>  
                            <td>{{ticket.ticket.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

